<!DOCTYPE html>
<html>
<head>
      <%- include('../../layout/head'); -%>
</head>
<body>
  <header>
  <%- include('../../layout/header'); -%>
  </header>
  <main>
      <ul>
        <% eventsArrKey.forEach(events => { %>
        <li>
          <h3><%= events.name %></h3>
          <p><%= events.date %></p>
          <p ><%= events.venue %></p>
          <p><%= events.description %></p>
          <p><%= events.address_line_1 %></p>
          <p><%= events.address_line_2%></p>
          <p><%= events.address_line_2 %></p>
          <img src="<%=events.img_url%>" />
        </li>
        <form action="/events" method="post">
          <input name="name" value="<%= events.name %>" type="hidden"/> 
          <input name="date" value="<%= events.date %>" type="hidden">
          <input name="venue" value="<%= events.description %>" type="hidden">
          <input name="address_line_1" value="<%= events.address_line_1 %>" type="hidden">

          <input name="address_line_2" value="<%= events.address_line_2 %>" type="hidden">
          <input name="address_line_3" value="<%= events.address_line_3 %>" type="hidden">

          <input name="img_url" value="<%= events.img_url %>" type="hidden">
        <button id="save" class="view">Save Event</button>
      </form>
        <% }) %>
      </ul>

  </main>
  
  <footer>
    <%- include('../../layout/footer'); -%>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="./../app.js"></script>
</body>

</html>