<!DOCTYPE html>
<html>
<head>
    <%- include('../../layout/head'); -%>

</head>

<body>

    <header>
        <%- include('../../layout/header'); -%>
      </header>
    <main>
        <section class="eventContainer">
            <h2>Saved Events (<%=results.length %>)</h2>
            <ul>
                <% results.forEach(event => { %>
                <li>
                    <h3><%= event.name %></h3>
                    <p><%= event.date %></p>
                    <p><%= event.venue %></p>
                    <p><%= event.description %></p>
                    <p><%= event.address_line_1 %></p>
                    <p><%= event.address_line_2%></p>
                    <p><%= event.address_line_2 %></p>
                    <img src="<%=event.img_url%>" />
                <button class="view"><a href="/events/<%= event.id %>">View Details</a></button>
                <form action="<%=`/delete/${event.id}`%>" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="id" value="<%= event.id %>">
                    <button class="update">Delete Event</button>
                </form>
                </li>
                <% }) %>
            </ul>
        </section>
        </main>
    <footer>
        <%- include('../../layout/footer'); -%>
    </footer> 
   
</body>

</html>