<!DOCTYPE html>
<html>

<head>
    <%- include('../layout/head'); -%>
</head>

<body id="bodyIndex">
  <header>
    <%- include('../layout/header'); -%>
  </header>
  <nav>
    <%- include('../layout/nav'); -%>
  </nav>
    <main id="indexMain" >
      <section id="searchCats">
            <%- include('../layout/searchCats'); -%>
        </section>
      <section id="search-form">
        <p>Search upcoming events by keyword</p>
        <form action="/search" method="get">
          <input id="searchBar" type="text" name="search" placeholder="search">
          <a href="/search"></a><button type="submit" id="searchButton">Search Event</button></a>
      </section>
    </main>
    <footer>
      <%- include('../layout/footer'); -%>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</body>
</html>